<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

<!-- Scripts are placed here -->
<script src="http://www.123dapp.com/builds/base.master.libs.script-e9b4b029040427794e0e2dd514d822d2.js"></script>

<div id="NavBar" class="navbar-wrap">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/05/logo-123d.png" alt="Autodesk 123D" alt="Autodesk 123D" class="img-responsive" />
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="first has-subnav">
          <a href="/">
            Главная
          </a>
        </li>
        <li class="has-subnav">
          <%= link_to "Каталог 3D моделей", models_path %>
        </li>
        <li>
          <%= link_to "Блог", articles_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li class="MenuGoPremium">
              <a href="/gopremium" id="track-header-gopremium">
                Безлимитный доступ
              </a>
            </li>

            <li class="has-subnav navitem-account MenuMember" ">
            <%= link_to "<img class='avatar MenuAvatarImage' alt='' src='/images/default_avatar.png'/>
              <span class='navitem-messages'> Аккаунт</span>".html_safe, user_path(current_user), :class => "avatar-link MenuAvatar MenuAccountLink", :rel => "nofollow" %>
            <div class="dropdown-menu dropdown-menu-account">
              <ul class="sub-nav">
                <li>
                  <%= link_to "<span class='glyphicon glyphicon-user'></span> Мой профайл".html_safe, user_path(current_user), :class => "MenuAccountLink", :rel => "nofollow" %>
                </li>
                <li>
                  <a class="MenuAccountLink" href="/MyCorner/@member-info@/downloads" rel="nofollow">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    Скаченный модели
                  </a>
                </li>
                <li class="divider"></li>
                <li class="MenuGoPremium">
                  <a href="/gopremium" id="track-header-gopremium">
                    Безлимитный доступ
                  </a>
                </li>
                <li>
                  <%= link_to "Выйти", destroy_user_session_path, :method => :delete, :class => "MenuLogout", :id => "logout", :rel => "nofollow" %>
                </li>
              </ul>
            </div>
            </li>



        <% else %>
            <li>
              <%= link_to "Зарегистрироваться", new_user_registration_path, :class => "MenuGuest", :rel => "nofollow" %>
            </li>
            <li>
              <%= link_to "Войти", new_user_session_path, :class => "MenuGuest MenuLogin", :rel => "nofollow" %>
            </li>
        <% end %>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- /Main nav -->
</div>