<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @model.name %>
</p>

<p>
  <b>Text:</b>
  <%= @model.text %>
</p>

<p>
  <b>Pay:</b>
  <%= @model.pay %>
</p>

<p>
  <b>File:</b>
  <%= @model.file %>
</p>

<p>
  <b>Count see:</b>
  <%= @model.count_see %>
</p>

<p>
  <b>User:</b>
  <%= @model.user_id %>
</p>

<p>
  <b>Count down:</b>
  <%= @model.count_down %>
</p>

<p>
  <b>Image:</b>
  <%= @model.image %>
</p>


<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
